body{
    margin-left: 20px;
}
.chats{
    background-color: rgb(217, 237, 255);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: aliceblue;
    padding: 5px 15px;
    border-radius: 7px;
}